<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530886346990-75j03sqcvtq5pvbrfaelvt3gm23lp3sk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530886346990-75j03sqcvtq5pvbrfaelvt3gm23lp3sk</string>
	<key>API_KEY</key>
	<string>AIzaSyCErm7KtHYak3R6_9twoYPPIgyTYDhVX3M</string>
	<key>GCM_SENDER_ID</key>
	<string>530886346990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestorePostsExample</string>
	<key>PROJECT_ID</key>
	<string>firestore-posts-example-0615</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-posts-example-0615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530886346990:ios:a2c4dd8ea94a735321cbff</string>
</dict>
</plist>